<!-- IF HLJSBBC_STYLE_NAME == 'agate' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/agate.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'androidstudio' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/androidstudio.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'arduino-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/arduino-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'arta' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/arta.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'ascetic' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/ascetic.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-cave-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-cave-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-cave-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-cave-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-dune-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-dune-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-dune-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-dune-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-estuary-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-estuary-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-estuary-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-estuary-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-forest-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-forest-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-forest-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-forest-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-heath-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-heath-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-heath-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-heath-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-lakeside-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-lakeside-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-lakeside-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-lakeside-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-plateau-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-plateau-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-plateau-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-plateau-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-savanna-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-savanna-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-savanna-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-savanna-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-seaside-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-seaside-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-seaside-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-seaside-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-sulphurpool-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-sulphurpool-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atelier-sulphurpool-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atelier-sulphurpool-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atom-one-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atom-one-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'atom-one-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/atom-one-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'brown-paper' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/brown-paper.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'codepen-embed' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/codepen-embed.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'color-brewer' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/color-brewer.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'darcula' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/darcula.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'darkula' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/darkula.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'default' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/default.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'docco' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/docco.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'dracula' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/dracula.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'far' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/far.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'foundation' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/foundation.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'github-gist' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/github-gist.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'github' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/github.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'googlecode' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/googlecode.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'grayscale' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/grayscale.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'gruvbox-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/gruvbox-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'gruvbox-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/gruvbox-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'hopscotch' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/hopscotch.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'hybrid' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/hybrid.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'idea' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/idea.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'ir-black' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/ir-black.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'kimbie.dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/kimbie.dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'kimbie.light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/kimbie.light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'magula' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/magula.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'mono-blue' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/mono-blue.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'monokai-sublime' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/monokai-sublime.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'monokai' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/monokai.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'mudlet' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/mudlet.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'obsidian' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/obsidian.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'ocean' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/ocean.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'paraiso-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/paraiso-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'paraiso-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/paraiso-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'pojoaque' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/pojoaque.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'purebasic' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/purebasic.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'qtcreator_dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/qtcreator_dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'qtcreator_light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/qtcreator_light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'railscasts' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/railscasts.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'rainbow' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/rainbow.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'routeros' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/routeros.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'school-book' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/school-book.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'solarized-dark' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/solarized-dark.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'solarized-light' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/solarized-light.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'sunburst' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/sunburst.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'tomorrow-night-blue' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/tomorrow-night-blue.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'tomorrow-night-bright' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/tomorrow-night-bright.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'tomorrow-night-eighties' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/tomorrow-night-eighties.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'tomorrow-night' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/tomorrow-night.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'tomorrow' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/tomorrow.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'vs' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/vs.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'vs2015' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/vs2015.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'xcode' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/xcode.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'xt256' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/xt256.css -->
<!-- ENDIF -->
<!-- IF HLJSBBC_STYLE_NAME == 'zenburn' -->
  <!-- INCLUDECSS @thefae_highlightjsbbcode/highlightjs/zenburn.css -->
<!-- ENDIF -->

<!-- INCLUDECSS @thefae_highlightjsbbcode/codebox.css -->
