<!-- IF not $INCLUDED_HIGHLIGHTPACKJS -->
    <!-- INCLUDEJS @thefae_highlightjsbbcode/highlighter/highlight.pack.js -->
    <!-- DEFINE $INCLUDED_HIGHLIGHTPACKJS = true -->
<!-- ENDIF -->

<!-- IF not $INCLUDED_CODEBOXJS -->
    <script>
      var hljsLangBtnShow = "{LA_HLJS_BBCODEBOX_BUTTON_SHOW}";
      var hljsLangBtnHide = "{LA_HLJS_BBCODEBOX_BUTTON_HIDE}";
    </script>
    <!-- INCLUDEJS @thefae_highlightjsbbcode/codebox.js -->
    <!-- DEFINE $INCLUDED_CODEBOXJS = true -->
<!-- ENDIF -->
